[submodule "vendor/zenburn-theme"]
	path = vendor/zenburn-theme
	url = git://github.com/bbatsov/zenburn-emacs.git
[submodule "vendor/nxhtml"]
	path = vendor/nxhtml
	url = git://github.com/emacsmirror/nxhtml.git
